<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="menu_inventory_mhma"
        name="Inventory MHMA"
        parent="stock.menu_stock_root"
        sequence="10" />

    <menuitem
        id="menu_inventory_mhma_report"
        name="Reports"
        parent="menu_inventory_mhma"
        sequence="1" />

    <menuitem
        id="menu_stock_move_valuation"
        name="Stock Move Valuation"
        action="action_stock_move_valuation"
        parent="menu_inventory_mhma_report"
        sequence="1" />

    <menuitem id="combo_product"
        name="Combo Product"
        parent="mhma_inventory.menu_inventory_mhma"
        sequence="3"
        action="product_pack_action" />



</odoo>